<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="card-header">Current Addresses ({{Addresses.length}})</h5>
  </div>
	<div class="panel-body">
		<table class="table table-bordered table-condensed table-hover">
			<thead class="thead-default">
				<tr>
					<th (click)="sortBy('name')">Name</th>
					<th (click)="sortBy('country')">Country</th>
					<th (click)="sortBy('city')">City</th>
					<th (click)="sortBy('street')">Street</th>
					<th (click)="sortBy('building')">Building</th>
					<th (click)="sortBy('block')">Block</th>
					<th (click)="sortBy('name')">Actions</th>
				</tr>
			</thead>
			<tbody *ngIf="Addresses.length === 0">
				<tr>
					<td colspan="7">There are no addresses in the DB.</td>
				</tr>
			</tbody>
			<tbody *ngIf="!isEditing">
				<tr *ngFor="let addr of Addresses|paginate: { itemsPerPage: 7, currentPage: p }">
					<td>{{addr.name}}</td>
					<td>{{addr.country}}</td>
					<td>{{addr.city}}</td>
					<td>{{addr.street}}</td>
					<td>{{addr.building}}</td>
					<td>{{addr.block}}</td>
					<td>
						<button class="btn btn-sm btn-default" (click)="enableEditing(addr)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
						<button class="btn btn-sm btn-danger" (click)="submitRemove(addr)"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
					</td>
				</tr>
				<tr>
					<td colspan="7" style="text-align: center;">
						<pagination-controls style="height: 100%" (pageChange)="p = $event" #api></pagination-controls>
					</td>
				</tr>
			</tbody>

			<tbody *ngIf="isEditing">
				<tr>
					<td colspan="7">
						<form class="form-inline" #form="ngForm" (ngSubmit)="submitEdit(addr)" style="display:inline">
							<div class="form-group">
								<input class="form-control" type="text" name="name" [(ngModel)]="addr.name" placeholder="Name" required>
							</div>
							<div class="form-group">
								<input class="form-control" type="text" name="country" [(ngModel)]="addr.country" placeholder="country" required>
							</div>
							<div class="form-group">
								<input class="form-control" type="text" name="city" [(ngModel)]="addr.city" placeholder="city" required>
							</div>
							<div class="form-group">
								<input class="form-control" type="text" name="street" [(ngModel)]="addr.street" placeholder="street" required>
							</div>
							<div class="form-group">
								<input class="form-control" type="text" name="building" [(ngModel)]="addr.building" placeholder="building" required>
							</div>
							<div class="form-group">
								<input class="form-control" type="text" name="block" [(ngModel)]="addr.block" placeholder="block" required>
							</div>
							<button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
						</form>
						<button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
					</td>
				</tr>
			</tbody>

		</table>
		<!--<div [hidden]="!infoMsg.body" class="alert alert-{{infoMsg.type}} alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<strong>Message:</strong> {{infoMsg.body}}
		</div>-->
	</div>
</div>


<div class="panel panel-default" *ngIf="!isEditing">
	<div class="panel-heading">
		<h5 class="card-header">Add new address</h5>
	</div>
	<div class="panel-body">
		<form class="form-inline" [formGroup]="addAddressForm" (ngSubmit)="submitAdd()" style="text-align:center">
			<div class="form-group">
			    <input class="form-control" type="text" name="name" formControlName="name" placeholder="Name">
			</div>
			<div class="form-group">
				<input class="form-control" style="width:80px" type="text" name="country" formControlName="country" placeholder="Country">
			</div>
			<div class="form-group">
				<input class="form-control" style="width:80px" type="text" name="city" formControlName="city" placeholder="City">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="street" formControlName="street" placeholder="Street">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="building" formControlName="building" placeholder="Building">
			</div>
			<div class="form-group">
				<input class="form-control" style="width:50px" type="text" name="block" formControlName="block" placeholder="Block">
			</div>
			<button class="btn btn-primary" type="submit" [disabled]="!addAddressForm.valid"><i class="fa fa-floppy-o"></i>Add</button>
		</form>
	</div>
</div>
