<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="card-header">You have submit {{Energys.length}} records for {{time}}</h5>
  </div>
	<div class="panel-body">
		<table class="table table-bordered table-condensed table-hover">
			<thead class="thead-default">
				<tr>
					<th>building</th>
					<th>type</th>
					<th>value</th>
                    <th>Actions</th>
				</tr>
			</thead>
			<tbody *ngIf="Energys.length === 0">
				<tr style="background-color:grey">
					<td colspan="4">You haven't submit any data for {{time}}.</td>
				</tr>
			</tbody>
			<tbody *ngIf="!isEditing">
				<tr *ngFor="let ee of Energys">
					<td>{{ee.address}}</td>
					<td>{{ee.type}}</td>
					<td>{{ee.value}}</td>
					<td>
						<button class="btn btn-sm btn-warning" (click)="enableEditing(ee)"><i class="fa fa-pencil"></i> Edit</button> <button class="btn btn-sm btn-danger" (click)="submitRemove(ee)"><i class="fa fa-trash"></i> Delete</button>
					</td>
				</tr>	
			</tbody>

			<tbody *ngIf="isEditing">
				<tr>
					<td colspan="4">
						<form class="form-inline" #form="ngForm" (ngSubmit)="submitEdit(energy)" style="display:inline">
							<div class="form-group">
								<input class="form-control" type="text" name="building" [value]="energy.address" placeholder="building" readonly>
							</div>
							<div class="form-group">
								<input class="form-control" type="text" name="type" [value]="energy.type" placeholder="type" readonly>
							</div>
							<div class="form-group">
								<input class="form-control" type="text" name="value" [(ngModel)]="energy.value" placeholder="city" required>
							</div>
							<button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
						</form>
						<button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="panel panel-default" *ngIf="!isEditing">
	<div class="panel-heading">
		<h5 class="card-header">Submit new data</h5>
	</div>
	<div class="panel-body">
		<form class="form-inline" [formGroup]="addEnergyForm" (ngSubmit)="submitAdd()" style="text-align:center">
			<div class="form-group">
                <select id="building_selection" class="form-control" formControlName="building">
					<option value="" selected disabled>Buildings</option>
                    <option *ngFor="let b of buildings" [value]="b._id">{{b.building}}</option>
                </select>
            </div>
			<div class="form-group">
				<input class="form-control" type="text" name="period" formControlName="period" placeholder="period">
			</div>
			<div class="form-group">
                <select id="type_selection" class="form-control" formControlName="type">
					<option value="" selected disabled>Types</option>
                    <option *ngFor="let t of types" [value]="t">{{t}}</option>
                </select>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="value" formControlName="value" placeholder="value">
			</div>
			<button class="btn btn-primary" type="submit" [disabled]="!addEnergyForm.valid"><i class="fa fa-floppy-o"></i>Add</button>
		</form>
	</div>
</div>