<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="card-header">Current Residents ({{Residents.length}})</h5>
  </div>
	<div class="panel-body">
		<table class="table table-bordered table-condensed table-hover">
			<thead class="thead-default">
				<tr>
					<th>Account</th>
					<!--<th>Password</th>-->
					<th>Email</th>
					<th>Phone</th>
					<th *ngIf="!isEditing">Address</th>
                    <th>Room</th>
                    <th>Actions</th>
				</tr>
			</thead>
			<tbody *ngIf="Residents.length === 0">
				<tr style="background-color:grey">
					<td colspan="6">There are no residents in the DB.</td>
				</tr>
			</tbody>
			<tbody *ngIf="!isEditing">
				<tr *ngFor="let resident of Residents|paginate: { itemsPerPage: 7, currentPage: p }">
					<td>{{resident.account}}</td>
					<!--<td>{{resident.password}}</td>-->
					<td>{{resident.email}}</td>
					<td>{{resident.phone}}</td>
					<td>{{resident.address}}</td>
                    <td>{{resident.room}}</td>
					<td>
						<button class="btn btn-sm btn-default" (click)="enableEditing(resident)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
						<button class="btn btn-sm btn-danger" (click)="submitRemove(resident)"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>					
					</td>
				</tr>
				<tr>
					<td colspan="6" style="text-align: center;">
						<pagination-controls (pageChange)="p = $event" #api></pagination-controls>
					</td>
				</tr>
			</tbody>

			<tbody *ngIf="isEditing">
				<tr>
					<td colspan="6">
						<form class="form-inline" #form="ngForm" (ngSubmit)="submitEdit(resident)" style="display:inline">
							<div class="form-group">
								<input class="form-control" type="text" name="account" [(ngModel)]="resident.account" placeholder="account" required>
							</div>
							<div class="form-group">
								<input class="form-control" type="email" name="email" [(ngModel)]="resident.email" placeholder="email" required>
							</div>
							<div class="form-group">
								<input class="form-control" type="text" name="phone" [(ngModel)]="resident.phone" placeholder="phone" required>
							</div>
							<!--<div class="form-group">
								<input class="form-control" type="text" name="password" [(ngModel)]="resident.address" placeholder="address" required>
							</div>-->
							<div class="form-group">
								<input class="form-control" type="text" name="room" [(ngModel)]="resident.room" placeholder="room" required>
							</div>
							<button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
						</form>
						<button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="panel panel-default" *ngIf="!isEditing">
	<div class="panel-heading">
		<h5 class="card-header">Add new resident</h5>
	</div>
	<div class="panel-body">
		<form class="form-inline" [formGroup]="addResidentForm" (ngSubmit)="submitAdd()" style="text-align:center">
			<div class="form-group">
			    <input class="form-control" type="text" name="account" formControlName="account" placeholder="Account">
			</div>
			<!--<div class="form-group">
				<input class="form-control" type="text" name="password" formControlName="password" placeholder="Password">
			</div>-->
			<div class="form-group">
				<input class="form-control" type="text" name="email" formControlName="email" placeholder="Email">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="phone" formControlName="phone" placeholder="Phone">
			</div>
			<div class="form-group">
                <select id="address_selection" class="form-control" formControlName="address">
                    <option value="" selected disabled>Address</option>
                    <option *ngFor="let addr of ass" [value]="addr.name">{{addr.name}}</option>
                </select>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="room" formControlName="room" placeholder="room">
			</div>
			<button class="btn btn-primary" type="submit" [disabled]="!addResidentForm.valid"><i class="fa fa-floppy-o"></i>Add</button>
		</form>
	</div>
</div>
